body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.image-container {
    margin-top: 20px;
}

.image {
    width: 200px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: inline-block;
}

.image:hover {
    transform:scale(1.1);
}

#next-level {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next-level:hover {
    background-color: #0056b3;
}
